body {
      background: url("ImagesRequired/background_image3d.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      /* background-position: fixed; */
      /* background-size: cal(100%); */
      height: 100%;
}

.heading-div{
      position: static;
      display: flex;
      background-color: rgb(27, 27, 27);
      justify-content: space-around;
      align-items: center;
      padding: 0.5%;
      /* gap: 10%; */
      
}

.brand-div{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10%;
}


.chatmates-logo{
      width: 25%;
      align-items: center;
}
.chatmates-brand-name{
      font-size: 2.8rem;
      color: rgb(221, 219, 255);
      text-decoration: none;
}
.chatmates-brand-name:hover{
      color: rgb(68, 68, 68);
}
.icons-div{
      display: flex;
      justify-content: flex-end;
      gap: 5%;
      width: fit-content;
      align-items: center;
}


.information-icon{
      width: 10%;
      border-radius: 100%;
}
.video-icon{
      width: 14%;
}
.phone-icon{
      width: 12%;
}
.information-icon:hover,.phone-icon,.video-icon{
      cursor: pointer;
}




.container {
      max-width: 90%;
      /* background-color: rgb(190, 190, 190); */
      color: white;
      margin-top: 2%;
      padding: 33px;
      height: 70vh;
      /* so that we we wpuld be able to scroll in y direction of the chat */
      overflow-y: auto;
      margin-bottom: 23px;
}
::-webkit-scrollbar {
      width: 8px;
    }
    
    /* Track */
::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px rgb(34, 34, 34); 
      border-radius: 10px;
    }
     
    /* Handle */
::-webkit-scrollbar-thumb {
      background: rgb(167, 167, 167); 
      border-radius: 10px;
    }
    
    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
      background: #6b6b6b; 
    }
.message {
      color: rgb(255, 255, 255);
      font-family: 'Playpen Sans', cursive;
      background-color: rgb(26, 26, 26);
      border: solid rgb(7, 6, 6);
      border-radius: 6px;
      border-width: 0.5%;
      margin-top: 1%;
      font-size: 1.5rem;
      padding: 1.4%;
      width: fit-content;
}

.left {
      float: left;
      clear: both;
      margin-right: 10%;
      margin-top: 2%;
}

.right {
      float: right;
      /* not allowing left and right */
      clear: both;
      margin-left: 10%;
      margin-top: 2%;
}

.middle {
      margin-left: 0%;
      margin-right: 0%;
}


#messageInp {
      color: rgb(45, 45, 45);
      font-size: 1.3rem;
      align-items: flex-start;
      border: rgb(255, 255, 255);
      height: 35px;
      width: 100%;
      padding: 10px;
      border-radius: 50px;
      background-color: rgb(156, 156, 156);
}

#send-box {
      /* display: flex; */
      margin-top: 2%;
      background-color: rgb(26, 26, 26);
      

}

#send-container {
      display: flex;
      margin: auto;
      text-align: center;
      max-width: 90%;
      /* height: 100%; */
      padding: 4%;
}

/* message box to send */
.send-message-button {
      /* position: fixed; */
      width: 2.2rem;
}

.footer-div{
      height: 100px;
      width: 100%;
      margin-top: 0%;
      background-color: rgb(26, 26, 26);;
}
