body{
      background: url("/ChatMates/ImagesRequired/doodleBackground_image.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      /* background-size: cal(100%); */
      height: 100%;
}
.chatmates-logo{
      width: 15%;
}
.container-fluid{
      display: flex;
      align-items: center;
}






.container{
      max-width: 80%;
      background-color: rgb(190, 190, 190);
      color: white;
      margin: auto;
      /* display: flex;
      flex-direction: column; */
      /* align-content: center; */
      height: 70vh;
}
.message{
      background-color: rgb(158, 158, 158);
      border: ridge rgb(123, 123, 123);
      border-radius: 6px;
      margin-top: 3%;
      padding: 1%;
      width: fit-content;
}
.left{
      float: left;
      clear: both;
      margin-right: 20%;
}

.right{
      float: right;
      /* not allowing left and right */
      clear: both;
      margin-left: 20%;
}




/* sending things */
/* .send{
      display: flex;
      justify-content: space-around;
}
 */

#send-container{
      display: block;
      margin: auto;
      text-align: center;
}
/* message box to send */
.send-message-button{
      /* position: fixed; */
      width: 20px;
}